<h2><%= question_header %></h2>
<%= form_with model: [@test, @question], local: true do |form| %>
  <p>
    <%= form.label :title, "Question:" %>
    <%= form.text_field :title, id: :question_title %>
  </p>
  <%= form.submit %>
<% end %>
<br/>
<%= link_to 'Test questions', test_path(@question.test.id) %>
