<nav>
  <p><%= link_to "TestGuru", root_path, rel: 'nofollow noopener' %></p>
  <p><%= link_to "Tests", tests_path, rel: 'nofollow noopener' %></p>
  <p><%= link_to "Sign In", login_path, rel: 'nofollow noopener' %></p>
  <p><%= link_to "Sign Up", signup_path, rel: 'nofollow noopener' %></p>
  <% if logged_in? %>
    <p><%= link_to "Sign Out", clear_session_path, rel: 'nofollow noopener' %></p>
  <% end %>
</nav>
